<div class="container">
  <form action="">
    <h1>Login Form</h1>
    <div>
      <label for="email">Email address</label> <br />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="e.g jane@example.com"
      />
    </div>
    <div>
      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="e.g m#P52s@ap$V"
      />
    </div>

    <button>Login</button>
  </form>
</div>
